.app {
  // text-align: center;
  padding: 0 24px;
}

.box1 {
  background-color: red;
  height: 100px;
}

.box2 {
  background-color: black;
  height: 100px;
}

.box3 {
  background-color: blue;
  height: 100px;
}

.tabbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}